* {
    margin: 0;
    padding: 0;
}

.container {
    justify-content: center;
    text-align: center;
    margin-top: 40%;
}

.logo-size {
    height: 150px;
    width: 150px;
    animation: continuous-rotation 5s linear infinite;
}

@keyframes continuous-rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.logo-size1 {
    height: 100px;
    animation: bounce 2s ease-in-out;
}

body {
    justify-content: center;
    align-items: center;
    background-color: #d485fcbe;
}

.font-txt {
    letter-spacing: 5px;
    font-size: 11px;
    font-family: Arial, sans-serif;
    color: black !important;
    font-weight: 10;
    margin-top: -25px;
}

.typing-effect {
    font-family: monospace;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid transparent;
    animation: typing 4s steps(40, end);
    margin-top: 2rem;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.login-btn{
    border: none;
    padding: 10px;
    background-color: blueviolet;
    color: aliceblue;
    margin-top: 2rem;
    width: 100%;
    border-radius: 40px;
    cursor: pointer;
    transition: 1s;
}

.login-btn:hover{
    background-color: black;
}

/* @media (min-width: 481px) and (max-width: 768px) {
    .container {
        justify-content: center;
        text-align: center;
        margin-top: 20%;
    }

    .login-btn{
        border: none;
        padding: 10px;
        background-color: blueviolet;
        color: aliceblue;
        margin-top: 2rem;
        width: 100%;
        border-radius: 40px;
        cursor: pointer;
        transition: 1s;
    }
} */